.propage{
    display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  height: 100vh;
}

.heading{
    font-weight: 800;
    color:  rgb(14, 61, 33) ;
    margin-bottom: 2rem;
}

.profile{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
    padding-top: 2rem;
  height: 30rem;
  width:25rem;
  color: aliceblue;
    background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, rgb(4, 90, 47) , rgb(0, 0, 0));

}

.avatar{
margin-left: 7.5rem;
}

.details{
    margin-left: 4rem;
}
.topbtn{
  margin-left: 3rem;
}